/* Color Palette */
colors {
    color: #227C9D; /* rgb(34, 124, 157) */
    color: #17C3B2; /* rgb(23, 195, 178) */
    color: #FFCB77; /* rgb(255, 203, 119) */
    color: #FEF9EF; /* rgb(254, 249, 239) */
    color: #FE6D73; /* rgb(254, 109, 115) */
}


/* Page */
body {
    background-color: rgba(23, 195, 178, 0.1);
    color: rgb(34, 124, 157);
}

h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    font-family: 'Merriweather', serif;
}

img {
    max-width: 400px;
}

#affirmation {
    margin: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

button {
    text-align: center;
    background-color: rgba(34,124,157, 0.6);
    color: rgb(254,249,239);
}

#they-said-so {
    margin: 15px;
}


/* Homepage */
#welcome-msg {
    font-family: 'Lato', sans-serif;
    margin: 15px;
}

.homepage-col {
    width: 100%;
    padding: 0;
}

.homepage-btn {
    border: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    background-color: rgba(34,124,157, 0.6);
    color: rgb(254,249,239);
    width: 100%;
}

#account-info-box {
    border:solid #227C9D;
    background-color: rgb(254,249,239, 0.6);
    padding: 12px;
}

table {
    margin: 15px;
}

/* Notes page */

/* Overrides Bootstrap's color for buttons */
.option-btn {
    background-color: rgba(34,124,157, 0.6);
    color: rgb(254,249,239);
}

#logout-button {
    background-color: rgba(254, 109, 115, 0.8);
}

/* For note buttons */
.note {
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 0px;
    width: 100%;
    height: 290px;
}

/* For images within a note displayed on notes page */
.img-page {
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.note-title {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.note-body {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    max-width: 100%;
    height: 100px;
}

/* Modal */

.modal-box {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(254,249,239);
    background-color: rgba(34,124,157,0.3);
}

.modal-content {
    background-color: rgb(254,249,239);
    margin: auto;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    width: 100%;
}

.modal-text-body {
    width: 100%;
    height: 150px;
}

.modal-header {
    background-color: rgba(34, 124, 157, 0.6);
    color: rgb(254,249,239);
    font-family: 'Lato', sans-serif;
}

.modal-footer {
    background-color: rgb(34, 124, 157, 0.6);
    color: rgb(254,249,239);
}

button.save {
    background-color: rgb(34, 124, 157);
    color: rgb(254,249,239);
}

button.cancel {
    background-color: rgb(34, 124, 157);
    color: rgb(254,249,239);
}

@media (max-width: 700px) {
    #modal-content {
        width: 90%;
    }
}

/* Note details page */

.details {
    margin-top: 10px;
    margin-bottom: 10px;
}

.details button {
    width: 150px;
}

#delete-button {
    background-color: rgba(254, 109, 115, 0.8);
}

#confirm-delete-btn {
    background-color: rgba(254, 109, 115, 0.8);
    width: 250px;
}

/* Note editor page */
#clear-body-btn {
    background-color: rgba(254, 109, 115, 0.8);
}

#note-body {
    padding: 0;
}

/* Modal + Note Editor */
#image-note-upload {
    margin-top: 15px;
    margin-bottom: 15px;
}

#image-attachment-upload {
    margin-top: 15px;
    margin-bottom: 15px;
}