<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block before_quote %}{% endblock %}

    {% block quote %}
      <div class="quote">
        <h2>Quote of the Day</h2>
        <p id="affirmation"></p>
      </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

    {% block js %}{% endblock %}
    <script src="/static/js/inspiration.js"></script>
    <div>
      Quotes courtesy of <a href="https://quotes.rest/" target="_blank">They Said So</a>
    </div>
  </body>
</html>