{% extends 'base.html' %}
{% block title %}Digital Braindump Home{% endblock %}

{% block before_quote %}
  <div class="col text-center">
    <h1 id="welcome-msg">Welcome to the Digital Braindump!</h1>
  </div>
{% endblock %}

{% block body %}
<div class="col"></div>
<div class="col">
  <div class="row">
    <div class="col homepage-col">
      <button class="homepage-btn btn-sm" type="button" id="login-btn">LOG IN</button>
    </div>
    <div class="col homepage-col">
      <button class="homepage-btn btn-sm" type="button" id="create-acct-btn" style="background-color: rgba(34,124,157, 0.2)">CREATE ACCOUNT</button>
    </div>
  </div>
  <div class="row">
    <div class="col" id="account-info-box" align="center">
      <form action="/login" method="POST">
        <h5><strong>Log into Account</strong></h5>
          <table>
            <tr>
              <td><label for="email"><strong>Email</strong></label></td>
              <td><input type="email" name="email"></td>
            </tr>
            <tr>
              <td><label for="password"><strong>Password</strong></label></td>
              <td><input type="password" name="password"></td>
            </tr>
          </table>
    
          <p>
            <button class="btn btn-outline-secondary option-btn" type="submit">SIGN IN</button>
          </p>
      </form>
    </div>
  </div>
</div>
<div class="col"></div>
{% endblock %}

{% block js %}
<script src="/static/js/homepage.js"></script>
{% endblock %}