{% extends 'base.html' %}
{% block title %}Note Details{% endblock %}

{% block body %}
<section class="title">
    <h3>Title</h3>
        <p>{{ note.title }}</p>
</section>

<section class="body">
    <h3>Body</h3>
    {% if note.body %}
        {% if "/digitalbraindump/image/upload/" in note.body %}
            <img src="{{ note.body}}"></img>
        {% else %}
            <p>{{ note.body }}</p>
        {% endif %}
    {% endif %}
</section>

{% if note.image %}
    <section class="image">
        <h3>Image Attachment</h3>
        <img src="{{ note.image }}"></img>
    </section>
{% endif %}

<section class="note-options">
    <form action="/notes">
        <input type="submit" value="Return to Notes">
    </form>

    <form action="/notes/{{ note.note_id }}/edit">
        <input type="submit" value="Edit Note">
    </form>

    <form action="/delete-note/{{ note.note_id }}" method="POST" id="delete-confirm">
        <input type="submit" value="Delete Note" id="delete-button">
    </form>
</section>
{% endblock %}

{% block js %}<script src="/static/js/note_editor.js"></script>{% endblock %}