{% extends 'base.html' %}
{% block title %}Note Details{% endblock %}

{% block body %}
<div class="row">
    <div class="col details">
        <h3 class="details-header">TITLE</h3>
            <p>{{ note.title }}</p>
    </div>
</div>

<div class="row">
    <div class="col details">
        <h3 class="details-header">BODY</h3>
        {% if note.body %}
            {% if "/digitalbraindump/image/upload/" in note.body %}
                <img src="{{ note.body }}"></img>
            {% else %}
                <p>{{ note.body }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if note.image %}
<div class="row">
    <div class="col details">
        <h3 class="details-header">IMAGE ATTACHMENT</h3>
        <img src="{{ note.image }}"></img>
    </div>
</div>
{% endif %}

<div class="row justify-content-center details">
    <div class="col" align="center">
        <form action="/notes">
            <button class="btn btn-outline-secondary option-btn">Return to Notes</button>
        </form>
    </div>
</div>
<div class="row justify-content-center details">
    <div class="col" align="center">
        <form action="/edit-note/{{ note.note_id }}">
            <button class="btn btn-outline-secondary option-btn">Edit Note</button>
        </form>
    </div>
</div>
<div class="row justify-content-center details">
    <div class="col" align="center">
        <form action="/delete-note/{{ note.note_id }}" method="POST" id="delete-confirm">
            <button class="btn btn-outline-secondary option-btn" id="delete-button">Delete Note</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}<script src="/static/js/note_editor.js"></script>{% endblock %}