{% extends 'base.html' %}
{% block title %}{{user.email}}'s Notes{% endblock %}

{% block body %}
  <form action="/search" id="search">
    <input type="text" name="search">
    <input type="submit" value="Search for Keyword">
  </form>
  <form action="/create-note" id="create">
    <input type="submit" value="Create a New Note">
  </form>
  <form action="/logout" id="logout">
    <input type="submit" value="Logout">
  </form>
  {% for note in notes %}
    <div>
      {% if note.title %}
        <h2>{{ note.title }}</h2>
      {% endif %}

      {% if note.body %}
        <p>{{ note.body }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}