{% extends 'base.html' %}
{% block title %}{{user.email}}'s Notes{% endblock %}

{% block body %}
  <section id="user-options">
    <form action="/search" id="search-option">
      <input type="text" name="search">
      <input type="submit" value="SEARCH KEYWORD" id="search-button">
    </form>
    <form action="/create-note" id="create-option">
      <input type="submit" value="CREATE NEW NOTE" id="create-note-button">
    </form>
    <form action="/logout" id="logout-option">
      <input type="submit" value="LOG OUT" id="logout-button">
    </form>
  </section>

  <section id="note-container">
    {% for note in notes %}
    <form action="/notes/{{ note.note_id }}" class="note">
    <button>
      {% if note.title %}
        <h2>{{ note.title }}</h2>
      {% endif %}

      {% if note.body %}
        <p>{{ note.body }}</p>
      {% endif %}
    </button>
    </form>
    {% endfor %}
  </section>
{% endblock %}

{% block js %}<script src="/static/js/notes.js"></script>{% endblock %}

